body
{
    display:flex;
    flex-direction: row-reverse;
    font-size: 1.1em;
}
header h1
{
    margin-top: 120px;
    margin-bottom: 0px;
}
header h2
{
    margin-top: 0px;
    margin-bottom: 120px;
}
header h2 strong
{
    border-bottom: 2px rgb(79,195,247) solid;
}
h1
{
    font-size: 2.5em;
}
h1 strong
{
    color: rgb(79,195,247);
}
ul li
{
    list-style: none;
}
#formation
{
    margin-top: 80px;
}
#exp
{
    margin-top: 80px;
}
#recommandations
{
    margin-top: 80px;
}
section i
{
    margin-right: 10px;
}
section h2
{
    padding-bottom: 10px;
    border-bottom: 2px rgb(79,195,247) solid;
}
#bandeau
{
    width: 28%;
    display: flex;
    flex-direction: column;
    text-align:center;
    background-color: rgb(79,195,247);
}
#bandeau h2
{
    background-color: black;
    color: rgb(79,195,247);
    text-align: center;
}
img
{
    border-radius: 100%;
    box-shadow: 8px 8px 10px 0.3px black;
    margin-top: 30px;
    margin-bottom: 30px;
    margin-right: 30px;
    margin-left: 12px;
}
#contenu
{
    margin-left: 60px;
    margin-right: 60px;
}
#contact p
{
    font-weight: bold;
    text-align: left;
    margin-left: 35px;
}
#moi p
{
    text-align: justify;
    margin-left: 35px;
    margin-right: 35px;
}
#moi
{
    flex-grow: 1;
}
#loisirs i
{
    margin-bottom: 45px;
    margin-top: 25px;
    padding-left: 8px;
    padding-right: 8px;
}
#formation li
{
    display: flex;
    align-items: baseline;
}
#formation p
{
    display: flex;
    flex-direction: column;
    width: 65%;
    margin-left: auto;
}
#formation strong
{
    font-weight: bold;
    font-size: 1.1em;
}
#exp li
{
    display: flex;
    align-items: baseline;
}
#exp p
{
    display: flex;
    flex-direction: column;
    width: 65%;
    margin-left: auto;
}
#exp strong
{
    font-weight: bold;
    font-size: 1.1em;
}
#recommandations div
{
    display: inline-block;
    margin-right: 20%;
}
#recommandations
{
    font-weight: bold;
}
.fas
{
    color: rgb(79,195,247);
}
.far
{
    color: rgb(79,195,247);
}
#icones .fas
{
    color: black;
}
 
@media all and (max-width: 1024px)
{
    body
    {
        width: auto;
        display:flex;
        flex-direction: column;
    }
    header
    {
        text-align: center;
    }
    #bandeau
    {
        width: auto;
        display:flex;
        text-align: center;
    }
    h1
    {
        font-size: 2.3em;
    }
    img
    {
        width: 125px;
        height: 125px;
        margin-top: 5px;
        margin-bottom: 5px;
    }
    #contenu
    {
        margin: auto;  
    }
    #contenu h2
    {
        font-size: 1.2em;
    }
    #formation li i
    {
        float: left;
        margin-top: 2px;
        padding-bottom: 5px;
    }
    #formation  li, strong p
    {
        display:inline-block;  
        margin-right: 30px;
    }
    #formation p
    {
        width: 100%;
        margin-left: 30px;
    }
    #exp li i
    {
        float: left;
        margin-top: 2px;
        padding-bottom: 5px;
    }
    #exp  li, strong p
    {
        display:inline-block;  
        margin-right: 30px;
    }
    #exp p
    {
        width: 100%;
        margin-left: 30px;
    }
    #recommandations div
    {
        margin-left: 30px;
    }
}
